{% extends "base.html" %}

{% block title %}
ActiveHub | Activities
{% endblock %}

{% block content %}

<!-- PAGE HERO -->

<section class="page-hero">

    <div class="container">

        <p class="section-label">
            EXPLORE ACTIVEHUB
        </p>

        <h1>
            Find an activity that works for you.
        </h1>

        <p>
            From fitness and swimming to children's programs
            and group classes, discover activities for every
            age and fitness level.
        </p>
        <a href="{{ url_for('web.membership') }}" class="button primary-button">
                Explore Memberships
        </a>
    </div>

</section>

{% include "includes/activities_nav.html" %}
{% include "includes/centre_cta.html" %}


{% endblock %}